<div class="col-lg-4">
    {% if flights is not empty %}
        {% set flightstatus = [ Language.status_planned , Language.status_loading, Language.status_en_route, Language.status_unloading, Language.status_finished, Language.status_aborted]  %}
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th></th>
                <th><span class="glyphicon glyphicon-map-marker glyphicon-align-center"></span></th>
                <th></th>
                <th></th>
                <th>#</th>
                <th><span class="glyphicon glyphicon-time"></span></th>
                <th><span class="glyphicon glyphicon-share-alt"></span></th>
            </tr>
            </thead>
            <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flightstatus[flight.Status] }}</td>
                    <td>{{ flight.Departure }} - {{ flight.Destination }}</td>
                    <td><a href="/index.php/flight/{{ flight.Callsign }}"
                           class="btn btn-primary btn-xs">{{ flight.Callsign }}</a></td>
                    <td>{{ flight.Model }}</td>
                    <td>{{ flight.NumberFlights }}</td>
                    <td>{{ flight.FlownTime|date('H:i') }}</td>
                    <td>{{ flight.FlownDistance }}</td>
                    {# {% for f in freight %}<td>{{ f }}</td>{%% endfor %} #}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4> {{ Language.no_flights_available }} </h4>
    {% endif %}
</div>